<div class="container sign-in-page">
  <div class="row">
    <div class="col-lg-6 offset-lg-3 col-md-12">
      <div class="card shadow mt-5">
        <div class="card-header text-center">
          <h2>Sign In</h2>
        </div>
        <div class="card-body">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group">
              <%= f.label :email%>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"%>
            </div>

            <div class="form-group">
              <%= f.label :password%>
              <%= f.password_field :password, autocomplete: "off", class: "form-control"%>
            </div>

            <% if devise_mapping.rememberable? -%>
              <div class="form-group">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me%>
              </div>
            <% end -%>

            <div class="actions form-group text-center">
              <%= f.submit "Log in", class: "btn btn-primary"%>
            </div>
            <div class="row">
              <div class="col-md-6">
                <a href="/users/auth/facebook" class="btn-block btn-social btn-facebook signin-facbook-button btn-aouth btn-reg1">
                  <span class="fa fa-facebook"><font class="signup-aouth-btn"> Sign in with Facebook</font></span>
                </a>
              </div>
              <div class="col-md-6 mt-lg-0 mt-4">
                <a href="/users/auth/google_oauth2"  class="btn-block btn-social btn-google signin-btn-google btn-aouth btn-reg">
                  <span class="fa fa-google"><font class="signup-aouth-btn"> Sign in with Google</font></span>
                </a>
              </div>
          <% end %>
        </div>  
      </div>  
    </div>  
  </div>  
</div>