<header class="blog-header mt-lg-0 mt-md-3">
  <div class="row flex-lg-nowrap d-md-flex flex-md-wrap justify-content-lg-between justify-content-md-center align-items-center no-gutters">
    <div class="col-lg-4 col-12 pt-1  mt-2 mb-4 text-lg-left text-md-center text-center">
      <a class="navbar-logo ml-lg-5" href="/"><%= image_tag "logo.png" %></a>
    </div>
    <div class="offset-lg-3 col-lg-4 text-md-center d-none d-lg-block d-md-block text-lg-right mr-3">
      <a class="text-muted demo-icon" href="#">
        <%= image_tag "icon1.png"%>
      </a>
      <a class="text-muted demo-icon  ml-sm-4" href="#">
        <%= image_tag "icon2.png"%>
      </a>
      <a class="text-muted demo-icon  ml-sm-4" href="#">
        <%= image_tag "icon3.png"%>
      </a>
    </div>
    <div class="offset-lg-3 col-lg-4 text-center d-block d-lg-none d-md-none mr-3">
      <a class="text-muted demo-icon" href="#">
        <%= image_tag "icon1.png"%>
      </a>
      <a class="text-muted demo-icon  ml-sm-4" href="#">
        <%= image_tag "icon2.png"%>
      </a>
      <a class="text-muted demo-icon  ml-sm-4" href="#">
        <%= image_tag "icon3.png"%>
      </a>
    </div>
  </div>
</header>
<nav class="navbar my-nav navbar-expand-lg pl-md-4 pr-md-0 pt-md-3 pb-md-3  mt-md-3 mt-3">
  <button class="navbar-toggler ml-lg-auto sticky-top" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation">
    <span class="fa fa-bars text-white"></span>
  </button>
  <div class="search-icon ml-auto text d-lg-none d-md-block d-block" data-toggle="modal" data-target="#myModal1">
    <i class="fa fa-search text-white font-weight-bold"></i>
  </div>
  <div class="modal search-model" id="myModal1">
    <div class="modal-dialog">
      <a class="search-box-close" href="#">
        <i class="fa fa-times"></i>
      </a>
      <div class="search-box-wrapper">
        <p>
          Start typing and press Enter to search
        </p>
        <form action="#" class="search-box" method="get" role="search">
          <input class="search-input" name="q" placeholder="" type="text">
          <i class="fa fa-search">
          <input type="submit" value="">
          </i>
        </form>
      </div>
    </div>
  </div>
  <div class="collapse navbar-collapse flex-md-column  sticky-md-top" id="navbarSupportedContent1">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item  active">
       <a class=" font-weight-bold" href="/">Home</a>
      </li>
      <% @categories.each do |category| %>
        <li class="nav-item2">
          <%= link_to category_path(category) do %>
            <%= category.name %>
          <% end %> 
        </li>
      <% end %> 
      <% if user_signed_in? %>
        <li class="nav-item2"><%= link_to "Sign-out",destroy_user_session_path, method: :get %></li>
        <li class="nav-item2"><%= link_to "Edit",edit_user_registration_path %></li>
        <% else %>
         <li class="nav-item2"><%= link_to "Sign-in",  new_user_session_path  %></li>
        <li class="nav-item2"><%= link_to "Sign-up", new_user_registration_path %></li>
      <% end %>  
    </ul>
    <div class="search-icon ml-auto text d-lg-block d-md-none d-none" data-toggle="modal" data-target="#myModal">
      <i class="fa fa-search text-white font-weight-bold"></i>
    </div>
    <div class="modal search-model" id="myModal">
      <div class="modal-dialog">
        <a class="search-box-close" href="#">
          <i class="fa fa-times"></i>
        </a>
        <div class="search-box-wrapper">
          <p>
            Start typing and press Enter to search
          </p>
          <form action="#" class="search-box" method="get" role="search">
            <input class="search-input" name="q" placeholder="" type="text">
            <i class="fa fa-search">
            <input type="submit" value="">
            </i>
          </form>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="jumbotron pt-md-4 pb-md-4 pl-md-4 pr-md-4 main-jumbo mt-md-5 border-bottom border-top">
  <div id="owl-demo" class="owl-carousel owl-theme d-sm-block d-none"> 
    <% @news.order(" updated_at DESC").each do |news|%>    
      <div class="item">
        <div class="card border-0">
          <% if news.image.present? %>
            <%= image_tag news.image %>
          <% else %>
            <%= image_tag "dummy.jpg" %>  
          <% end %>
          <div class="card-img-overlay text-center card-overlay-text">
           <div class="favourite-posts-overlay">
            <%= link_to category_path(news.category), class: "favourite-category" do %>
              <%= news.category.name%>
            <% end %>
            <h1><%= link_to news_path(news), class: "favourite-posts-title" do %><p><%= news.title%></p><%end%></h1></div>
          </div>
        </div>
      </div>
    <% end %>   
  </div>

  <div id="owl-demo1" class="owl-carousel owl-theme d-sm-none d-block">      
    <% @news.order(" updated_at DESC").each do |news|%>    
      <div class="item">
        <div class="card border-0">
          <% if news.image.present? %>
            <%= link_to news_path(news), class: "media-para"  do %>
              <%= image_tag news.image %>
            <% end %>  
          <% else %>
            <%= link_to news_path(news), class: "media-para"  do %>
              <%= image_tag "dummy.jpg" %>  
            <% end %>    
          <% end %>
          <div class="card-img-overlay text-center card-overlay-text">
           <div class="favourite-posts-overlay">
            <%#= link_to category_news_path(category), class: "favourite-category" do %>
            <%= link_to category_path(news.category),class: "favourite-category"  do %>
              <%= news.category.name %>
            <% end %>
           <h1><a href="#" class="favourite-posts-title"><p><%= news.title%></p></a></h1></div>
          </div>
        </div>
      </div>
    <% end %>  
  </div>
</div>
<main role="main" class="container">
  <div class="row">
    <div class="col-lg-8 col-md-12 blog-main pl-lg-0">
      <% @news_paginate.order("created_at DESC").each do |news|%>   
        <div class="media">
          <% if news.image.present? %>
            <%= link_to news_path(news), class: "media-para"  do %>
              <%= image_tag news.image %>
            <%end%>  
          <% else %>
            <%= link_to news_path(news), class: "media-para"  do %>
              <%= image_tag "dummy.jpg" %>  
             <%end%>    
          <% end %>
          <div class="media-body ml-md-3 mt-2 mt-lg-0">
            <div class="row">
              <div class="col text-muted">
                <%= link_to news_path(news), class: "media-para"  do %><small><i class="fa fa-calendar"></i><abbr class="published ml-2" itemprop="datePublished"><i><%= news.created_at.strftime("%b %d %Y") %></i> <i class="fa fa-hashtag ml-3 mr-1"></i>
                <% end %>
                <%= link_to category_path(news.category), class: "text-dark" do %>
                    <%= news.category.name%>
                <% end %>
                </abbr></small>
              </div>  
            </div>  
            <h2 class="post-title">
              <%= link_to news_path(news)  do %>
                <%= news.title %>
               <% end %>
            </h2>
            <small class="text-muted media-body-para">
              <%= link_to news_path(news)  do %>
                <%= raw news.description.truncate(300)%>
              <% end %>
            </small>
            <div class="mt-3">
              <%= link_to news_path(news) , class: "read-more-btn pt-2 pb-2 pl-3 pr-3" do %>Read more
                <i class="fa fa-angle-double-right ml-2"></i>
              <% end %>
            </div>  
          </div>
        </div>
        <hr class="mt-4 mb-4">
      <% end %>
       <% date_in_link =  %>
          <p><%= link_to news_by_date_path(@news_by_date), class: "btn btn-secondary col-1" do %>
          <i class="fa fa-link"></i>
          <%= date_in_link %>
          <% end %>
          <%#= link_to user_detail_path(@new), class: "btn btn-secondary col-1" do %>
          <i class="fa fa-file-pdf-o"></i>
          PDF
          <%# end %></p>
      <%= paginate @news_paginate %>
    </div><!-- /.blog-main -->
    <aside class="col-lg-4 col-md-12 blog-sidebar mt-md-2 mt-4 pr-lg-0 ">
      <div>
        <div class="card rounded-0 p-0 p-md-3">
          <div class="card-body p-md-0 p-3 pr-0">
            <div class="d-flex justify-content-between">
              <div class="pb-0 pt-4 pt-md-0 pb-md-0 pl-2 pr-2"><p class="font-arial font-weight-bold sm-para">MONTHLY CURRENT AFFAIRS</p></div>
              <div class="pb-0 pt-4 pt-md-0 pb-md-0 pl-2 pr-2"><i class="fa fa-calendar  text-muted"></i></div>
            </div>
            <hr class="mt-0 ml-md-0 mr-md-0 ">
            <ol class="list-unstyled mb-0">
              <% @news_count.each do |a| %>
                <%= link_to news_by_date_path(@news_count) do %>
                  <li class="archivedate">
                    <%= a.join(" ") %>
                  </li>  
                <%end %>
              <% end %>  
            </ol>  
          </div>  
        </div>  
      </div>
      <div class="card rounded-0 p-0 p-md-3 mt-md-4 mt-4">
        <div class="card-body p-md-0 P-0">
          <div class="d-flex justify-content-between">
            <div class="pb-0 pt-0 pt-md-0 pb-md-0 pl-2 pr-2"><p class="font-arial font-weight-bold sm-para">ADVERTISMENT</p></div>
          </div> 
          <hr class="mt-0 ml-md-0 mr-md-0">
          <h6>Coming Soon...</h6>
        </div>  
      </div> 
      <div>
        <div class="card rounded-0 p-0 p-md-3 mt-md-4 mt-4">
          <div class="card-body p-md-0 p-3">
            <div class="d-flex justify-content-between">
              <div class="pb-0 pt-4 pt-md-0 pb-md-0 pl-2 pr-2"><p class="font-arial font-weight-bold sm-para">RECENT POSTS</p></div>
              <div class="pb-0 pt-4 pt-md-0 pb-md-0 pl-2 pr-2"><i class="fa fa-ellipsis-v  text-muted"></i></div>
            </div>
            <hr class="mt-0 ml-md-0 mr-md-0">
            <% @news.order("created_at DESC").first(4).each do |news|%>  
              <a href="#"><%= link_to news_path(news), class: "media-link" do%>
                <div class="media mt-3">
                  <% if news.image.present? %>
                    <%= image_tag news.image, class: "mr-3 post-img" %>
                  <% else %>
                    <%= image_tag "dummy.jpg", class: "mr-3 post-img" %>  
                  <% end %>
                  <div class="media-body ml-0">
                    <div class="recent-title"><%= news.title%></div>
                    <span class="text-muted"><small><%= news.created_at.strftime("%b %d %Y")%></small></span>
                  </div>
                </div>
              <% end %>
            <% end %>  
          </div>  
        </div>  
      </div>
    </aside><!-- /.blog-sidebar -->
  </div><!-- /.row -->
</main><!-- /.container -->



<script type="text/javascript">
  $(document).ready(function() {
   var owl = $('.owl-carousel');
      owl.owlCarousel({
        margin: 10,
       
          dots:true,
          nav:true,
      navRewind:true,

    responsive: {
      0: {
        items: 1,
          slideBy: 1          
      },
      600: {
        items: 2,
          slideBy: 2
      },
      1000: {
        items: 4,
          slideBy: 4
      }
    }
  }) 
    $( ".owl-prev").html('<i class="fa fa-chevron-left"></i>');
    $( ".owl-next").html('<i class="fa fa-chevron-right"></i>');    
  });
    
  jQuery(document).ready(function() {
  // Calculate number of Slides
    var totalItems = $('.item').length;


    // If there is only three slides
    if (totalItems == 0) {
      // Set loop option variable to false
      var isLooped = false;
      // Set nav option variable to false
      var isNav = false;
    } 
    else {
      // Set loop option variable to true
      var isLooped = true;


      // Set loop option variable to true
      var isNav = true;
    }
  });
  



  
   $(document).ready(function() {
    $("#owl-demo1").owlCarousel({
      autoPlay: 1500, //Set AutoPlay to 3 seconds
      slideBy: 1,
      items : 1,
      autoplay:true,
      autoplayTimeout:5000,
      autoplayHoverPause:false ,

    }); 
    $( ".owl-prev").html('<i class="fa fa-chevron-left"></i>');
    $( ".owl-next").html('<i class="fa fa-chevron-right"></i>'); 
  });


  
  window.history.pushState('', null, './');
  $(window).on('popstate', function() {
   location.reload(true);
  });
</script> 
