<div class="container main-container pl-0 pr-0 mb-4">
  <nav class="navbar  navbar-expand-lg    mt-md-0 mt-md-3 border-bottom">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-bars text-dark"></span>
    </button>
    <div class="d-sm-none">
      <div class="d-flex flex-row ml-auto ">
        <div class="p-2"><i class="fa fa-facebook"></i></div>
        <div class="p-2"><i class="fa fa-twitter"></i></div>
        <div class="p-2"><i class="fa fa-instagram"></i></div>
        <div class="p-2"><i class="fa fa-youtube"></i></div>
      </div>
    </div>  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pl-md-3" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pl-md-3" href="#">National</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pl-md-3" href="#">International</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pl-md-3" href="#">Sports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pl-md-3" href="#">Science and tech</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Polity</a>
        </li>
        <li class="nav-item">
          <a   class="nav-link pl-md-3" href="#">
          अंग्रेजी में पढ़ें!
          </a>
        </li>
      </ul>
    </div>
    <div class="d-sm-block d-none ml-auto">
      <div class="d-flex flex-row ">
        <div class="p-2"><i class="fa fa-facebook"></i></div>
        <div class="p-2"><i class="fa fa-twitter"></i></div>
        <div class="p-2"><i class="fa fa-instagram"></i></div>
        <div class="p-2"><i class="fa fa-youtube"></i></div>
      </div>
    </div>  
  </nav>
  <header class="blog-header mt-lg-0 mt-md-3">
    <div class="row flex-lg-nowrap d-md-flex flex-md-wrap justify-content-lg-between justify-content-md-center align-items-center no-gutters">
      <div class="col-lg-4 col-12 pt-1  mt-4 mb-4 text-lg-left text-md-center">
        <a class="navbar-logo" href="#"><h1 class="font-weight-bold d-md-block d-none ml-lg-4">Kautilya Academy</h1>
        <h3 class="font-weight-bold d-sm-none d-block text-center">Kautilya Academy</h3></a>
      </div>
      <div class="offset-lg-3 col-lg-4 text-md-center d-none d-lg-block d-md-block text-lg-right mr-3">
        <a class="text-muted demo-icon" href="#">
          <%= image_tag "icon1.png"%>
        </a>
        <a class="text-muted demo-icon  ml-sm-4" href="#">
          <%= image_tag "icon2.png"%>
        </a>
        <a class="text-muted demo-icon  ml-sm-4" href="#">
          <%= image_tag "icon3.png"%>
        </a>
      </div>
      <div class="offset-lg-3 col-lg-4 text-center d-block d-lg-none d-md-none mr-3">
        <a class="text-muted demo-icon" href="#">
          <%= image_tag "icon1.png"%>
        </a>
        <a class="text-muted demo-icon  ml-sm-4" href="#">
          <%= image_tag "icon2.png"%>
        </a>
        <a class="text-muted demo-icon  ml-sm-4" href="#">
          <%= image_tag "icon3.png"%>
        </a>
      </div>
    </div>
  </header>
  <nav class="navbar my-nav navbar-expand-lg pl-md-4 pr-md-0 pt-md-3 pb-md-3  mt-md-3 mt-3">
    <button class="navbar-toggler ml-lg-auto sticky-top" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-bars text-white"></span>
    </button>
    <div class="search-icon ml-auto text d-lg-none d-md-block d-block">
      <i class="fa fa-search text-white font-weight-bold"></i>
    </div>
    <div class="collapse navbar-collapse flex-md-column  sticky-md-top" id="navbarSupportedContent1">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item nav-item active">
         <a class=" font-weight-bold text-white" href="#">Home</a>
        </li>
        <li class="nav-item2">
          <a class= "font-weight-bold" href="#">National</a>
        </li>
        <li class="nav-item2">
          <a class="font-weight-bold" href="#">International</a>
        </li>
        <li class="nav-item2">
          <a class="font-weight-bold" href="#">Sports</a>
        </li>
        <li class="nav-item2">
          <a class=" font-weight-bold" href="#">Science and tech</a>
        </li>
        <li class="nav-item2">
          <a class=" font-weight-bold" href="#"> Polity</a>
        </li>
        <li class="nav-item2">
          <a class=" font-weight-bold" href="#"> Economics</a>
        </li>
        <li class="nav-item2">
          <a class=" font-weight-bold" href="#">Security</a>
        </li>
      </ul>
      <div class="search-icon ml-auto text d-lg-block d-md-none d-none">
        <i class="fa fa-search text-white font-weight-bold"></i>
      </div>
    </div>
  </nav>
  <div class="jumbotron pt-md-4 pb-md-4 pl-md-4 pr-md-4 main-jumbo mt-md-5 border-bottom border-top">
    <div id="owl-demo" class="owl-carousel owl-theme d-sm-block d-none">      
      <div class="item "><%= image_tag "https://3.bp.blogspot.com/-1r04zDRBuVI/W2vLuPXlObI/AAAAAAAAPfs/zF7WoUxzDA0AA_SPybBbMjk_g2vKjqQYwCLcBGAs/s400/image001GY4B.jpg"%></div>
      <div class="item p-0"><%= image_tag "https://1.bp.blogspot.com/-8_Z5qHEgqEQ/WZ5zdlMXF4I/AAAAAAAAElI/cPuI-xmZX6EpUzegJmw3SragJNs7MhA7ACLcBGAs/s400/Cabinet_decision_en_2.jpg"%></div>
      <div class="item p-0"><%= image_tag "https://2.bp.blogspot.com/-_KluzW8dXQw/W2wUhC7tW_I/AAAAAAAAPgQ/grdEjwi8CTUZOm-FTE9jTCnPCmHDTQMdQCLcBGAs/s400/DkJR8rQV4AAdIgg.jpg"%></div>
      <div class="item"><%= image_tag "https://2.bp.blogspot.com/-cmwPNrj54zo/W2vRrNGlaoI/AAAAAAAAPf4/OO0l2lxRSCwjYssscd_N6IN403NFtMyawCLcBGAs/s400/NatParkBoard-768x512.jpg"%></div>
      <div class="item"><%= image_tag "https://2.bp.blogspot.com/-cmwPNrj54zo/W2vRrNGlaoI/AAAAAAAAPf4/OO0l2lxRSCwjYssscd_N6IN403NFtMyawCLcBGAs/s400/NatParkBoard-768x512.jpg"%></div>
      <div class="item"><%= image_tag "https://2.bp.blogspot.com/-cmwPNrj54zo/W2vRrNGlaoI/AAAAAAAAPf4/OO0l2lxRSCwjYssscd_N6IN403NFtMyawCLcBGAs/s400/NatParkBoard-768x512.jpg"%></div>
    </div>
    <div id="owl-demo1" class="owl-carousel owl-theme d-sm-none d-block">      
      <div class="item "><%= image_tag "https://3.bp.blogspot.com/-1r04zDRBuVI/W2vLuPXlObI/AAAAAAAAPfs/zF7WoUxzDA0AA_SPybBbMjk_g2vKjqQYwCLcBGAs/s400/image001GY4B.jpg"%></div>
      <div class="item p-0"><%= image_tag "https://1.bp.blogspot.com/-8_Z5qHEgqEQ/WZ5zdlMXF4I/AAAAAAAAElI/cPuI-xmZX6EpUzegJmw3SragJNs7MhA7ACLcBGAs/s400/Cabinet_decision_en_2.jpg"%></div>
      <div class="item p-0"><%= image_tag "https://2.bp.blogspot.com/-_KluzW8dXQw/W2wUhC7tW_I/AAAAAAAAPgQ/grdEjwi8CTUZOm-FTE9jTCnPCmHDTQMdQCLcBGAs/s400/DkJR8rQV4AAdIgg.jpg"%></div>
      <div class="item"><%= image_tag "https://2.bp.blogspot.com/-cmwPNrj54zo/W2vRrNGlaoI/AAAAAAAAPf4/OO0l2lxRSCwjYssscd_N6IN403NFtMyawCLcBGAs/s400/NatParkBoard-768x512.jpg"%></div>
      <div class="item"><%= image_tag "https://2.bp.blogspot.com/-cmwPNrj54zo/W2vRrNGlaoI/AAAAAAAAPf4/OO0l2lxRSCwjYssscd_N6IN403NFtMyawCLcBGAs/s400/NatParkBoard-768x512.jpg"%></div>
      <div class="item"><%= image_tag "https://2.bp.blogspot.com/-cmwPNrj54zo/W2vRrNGlaoI/AAAAAAAAPf4/OO0l2lxRSCwjYssscd_N6IN403NFtMyawCLcBGAs/s400/NatParkBoard-768x512.jpg"%></div>
    </div>
  </div>
  <main role="main" class="container">
    <div class="row">
      <div class="col-lg-8 col-md-12 blog-main">
        <div class="media">
          <%= image_tag "https://3.bp.blogspot.com/-1r04zDRBuVI/W2vLuPXlObI/AAAAAAAAPfs/zF7WoUxzDA0AA_SPybBbMjk_g2vKjqQYwCLcBGAs/s400/image001GY4B.jpg"%>
          <div class="media-body ml-md-3">
            <div class="row">
              <div class="col-1">
                <%= image_tag "downloads.jpg", class: "news-small-img" %>
              </div>  
              <div class="col text-muted">
                <small class="media-para"><i class="fa fa-calendar"></i><abbr class="published ml-2" itemprop="datePublished" title="2018-08-11T10:46:00+05:30"><i>August 11, 2018</i></abbr></small>
              </div>  
            </div>  
            <h2 class="post-title">
              <a href="https://hindicurrentaffairs.adda247.com/2018/08/defence-industrial-corridor-launched-in.html">
              यूपी के अलीगढ़ में रक्षा औद्योगिक कॉरिडोर लॉन्च किया गया
              </a>
            </h2>
            <small class="text-muted">
            रक्षा मंत्री निर्मला सीतारमण और उत्तर प्रदेश के मुख्यमंत्री योगी आदित्यनाथ ने उत्तर प्रदेश के अलीगढ़ में एक रक्षा औद्योगिक कॉरिडोर शुरू किया. यह कदम राज्य में रक्षा निर्माण को समर्पित विशेष क्षेत्रों को विकसित करने के सरकार के प्रयासों का हिस्सा है.</small>
            <div class="mt-3">
              <%= link_to "#", class: "read-more-btn pt-2 pb-2 pl-3 pr-3" do %>Read more
                <i class="fa fa-angle-double-right ml-2"></i>
              <% end %>
            </div>  
          </div>
        </div>
        <hr class="mt-4 mb-4">
        <div class="media">
          <%= image_tag "https://3.bp.blogspot.com/-1r04zDRBuVI/W2vLuPXlObI/AAAAAAAAPfs/zF7WoUxzDA0AA_SPybBbMjk_g2vKjqQYwCLcBGAs/s400/image001GY4B.jpg"%>
          <div class="media-body ml-md-3">
            <div class="row">
              <div class="col-1">
                <%= image_tag "downloads.jpg", class: "news-small-img" %>
              </div>  
              <div class="col text-muted">
                <small class="media-para"><i class="fa fa-calendar"></i><abbr class="published ml-2" itemprop="datePublished" title="2018-08-11T10:46:00+05:30"><i>August 11, 2018</i></abbr></small>
              </div>  
            </div>  
            <h2 class="post-title">
              <a href="https://hindicurrentaffairs.adda247.com/2018/08/defence-industrial-corridor-launched-in.html">
              यूपी के अलीगढ़ में रक्षा औद्योगिक कॉरिडोर लॉन्च किया गया
              </a>
            </h2>
            <small class="text-muted">
            रक्षा मंत्री निर्मला सीतारमण और उत्तर प्रदेश के मुख्यमंत्री योगी आदित्यनाथ ने उत्तर प्रदेश के अलीगढ़ में एक रक्षा औद्योगिक कॉरिडोर शुरू किया. यह कदम राज्य में रक्षा निर्माण को समर्पित विशेष क्षेत्रों को विकसित करने के सरकार के प्रयासों का हिस्सा है.</small>
            <div class="mt-3">
              <%= link_to "#", class: "read-more-btn pt-2 pb-2 pl-3 pr-3" do %>Read more
                <i class="fa fa-angle-double-right ml-2"></i>
              <% end %>
            </div>  
          </div>
        </div>
        <hr class="mt-4 mb-4">
        <div class="media">
          <%= image_tag "https://3.bp.blogspot.com/-1r04zDRBuVI/W2vLuPXlObI/AAAAAAAAPfs/zF7WoUxzDA0AA_SPybBbMjk_g2vKjqQYwCLcBGAs/s400/image001GY4B.jpg"%>
          <div class="media-body ml-md-3">
            <div class="row">
              <div class="col-1">
                <%= image_tag "downloads.jpg", class: "news-small-img" %>
              </div>  
              <div class="col text-muted">
                <small class="media-para"><i class="fa fa-calendar"></i><abbr class="published ml-2" itemprop="datePublished" title="2018-08-11T10:46:00+05:30"><i>August 11, 2018</i></abbr></small>
              </div>  
            </div>  
            <h2 class="post-title">
              <a href="https://hindicurrentaffairs.adda247.com/2018/08/defence-industrial-corridor-launched-in.html">
              यूपी के अलीगढ़ में रक्षा औद्योगिक कॉरिडोर लॉन्च किया गया
              </a>
            </h2>
            <small class="text-muted">
            रक्षा मंत्री निर्मला सीतारमण और उत्तर प्रदेश के मुख्यमंत्री योगी आदित्यनाथ ने उत्तर प्रदेश के अलीगढ़ में एक रक्षा औद्योगिक कॉरिडोर शुरू किया. यह कदम राज्य में रक्षा निर्माण को समर्पित विशेष क्षेत्रों को विकसित करने के सरकार के प्रयासों का हिस्सा है.</small>
            <div class="mt-3">
              <%= link_to "#", class: "read-more-btn pt-2 pb-2 pl-3 pr-3" do %>Read more
                <i class="fa fa-angle-double-right ml-2"></i>
              <% end %>
            </div>  
          </div>
        </div>
        <hr class="mt-4 mb-4">
        <div class="media">
          <%= image_tag "https://3.bp.blogspot.com/-1r04zDRBuVI/W2vLuPXlObI/AAAAAAAAPfs/zF7WoUxzDA0AA_SPybBbMjk_g2vKjqQYwCLcBGAs/s400/image001GY4B.jpg"%>
          <div class="media-body ml-md-3">
            <div class="row">
              <div class="col-1">
                <%= image_tag "downloads.jpg", class: "news-small-img" %>
              </div>  
              <div class="col text-muted">
                <small class="media-para"><i class="fa fa-calendar"></i><abbr class="published ml-2" itemprop="datePublished" title="2018-08-11T10:46:00+05:30"><i>August 11, 2018</i></abbr></small>
              </div>  
            </div>  
            <h2 class="post-title">
              <a href="https://hindicurrentaffairs.adda247.com/2018/08/defence-industrial-corridor-launched-in.html">
              यूपी के अलीगढ़ में रक्षा औद्योगिक कॉरिडोर लॉन्च किया गया
              </a>
            </h2>
            <small class="text-muted">
            रक्षा मंत्री निर्मला सीतारमण और उत्तर प्रदेश के मुख्यमंत्री योगी आदित्यनाथ ने उत्तर प्रदेश के अलीगढ़ में एक रक्षा औद्योगिक कॉरिडोर शुरू किया. यह कदम राज्य में रक्षा निर्माण को समर्पित विशेष क्षेत्रों को विकसित करने के सरकार के प्रयासों का हिस्सा है.</small>
            <div class="mt-3">
              <%= link_to "#", class: "read-more-btn pt-2 pb-2 pl-3 pr-3" do %>Read more
                <i class="fa fa-angle-double-right ml-2"></i>
              <% end %>
            </div>  
          </div>
        </div>
        <hr class="mt-4 mb-4">
        <div class="media">
          <%= image_tag "https://3.bp.blogspot.com/-1r04zDRBuVI/W2vLuPXlObI/AAAAAAAAPfs/zF7WoUxzDA0AA_SPybBbMjk_g2vKjqQYwCLcBGAs/s400/image001GY4B.jpg"%>
          <div class="media-body ml-md-3">
            <div class="row">
              <div class="col-1">
                <%= image_tag "downloads.jpg", class: "news-small-img" %>
              </div>  
              <div class="col text-muted">
                <small class="media-para"><i class="fa fa-calendar"></i><abbr class="published ml-2" itemprop="datePublished" title="2018-08-11T10:46:00+05:30"><i>August 11, 2018</i></abbr></small>
              </div>  
            </div>  
            <h2 class="post-title">
              <a href="https://hindicurrentaffairs.adda247.com/2018/08/defence-industrial-corridor-launched-in.html">
              यूपी के अलीगढ़ में रक्षा औद्योगिक कॉरिडोर लॉन्च किया गया
              </a>
            </h2>
            <small class="text-muted">
            रक्षा मंत्री निर्मला सीतारमण और उत्तर प्रदेश के मुख्यमंत्री योगी आदित्यनाथ ने उत्तर प्रदेश के अलीगढ़ में एक रक्षा औद्योगिक कॉरिडोर शुरू किया. यह कदम राज्य में रक्षा निर्माण को समर्पित विशेष क्षेत्रों को विकसित करने के सरकार के प्रयासों का हिस्सा है.</small>
            <div class="mt-3">
              <%= link_to "#", class: "read-more-btn pt-2 pb-2 pl-3 pr-3" do %>Read more
                <i class="fa fa-angle-double-right ml-2"></i>
              <% end %>
            </div>  
          </div>
        </div>
        <hr class="mt-4 mb-4">
        <div class="media">
          <%= image_tag "https://3.bp.blogspot.com/-1r04zDRBuVI/W2vLuPXlObI/AAAAAAAAPfs/zF7WoUxzDA0AA_SPybBbMjk_g2vKjqQYwCLcBGAs/s400/image001GY4B.jpg"%>
          <div class="media-body ml-md-3">
            <div class="row">
              <div class="col-1">
                <%= image_tag "downloads.jpg", class: "news-small-img" %>
              </div>  
              <div class="col text-muted">
                <small class="media-para"><i class="fa fa-calendar"></i><abbr class="published ml-2" itemprop="datePublished" title="2018-08-11T10:46:00+05:30"><i>August 11, 2018</i></abbr></small>
              </div>  
            </div>  
            <h2 class="post-title">
              <a href="https://hindicurrentaffairs.adda247.com/2018/08/defence-industrial-corridor-launched-in.html">
              यूपी के अलीगढ़ में रक्षा औद्योगिक कॉरिडोर लॉन्च किया गया
              </a>
            </h2>
            <small class="text-muted">
            रक्षा मंत्री निर्मला सीतारमण और उत्तर प्रदेश के मुख्यमंत्री योगी आदित्यनाथ ने उत्तर प्रदेश के अलीगढ़ में एक रक्षा औद्योगिक कॉरिडोर शुरू किया. यह कदम राज्य में रक्षा निर्माण को समर्पित विशेष क्षेत्रों को विकसित करने के सरकार के प्रयासों का हिस्सा है.</small>
            <div class="mt-3">
              <%= link_to "#", class: "read-more-btn pt-2 pb-2 pl-3 pr-3" do %>Read more
                <i class="fa fa-angle-double-right ml-2"></i>
              <% end %>
            </div>  
          </div>
        </div>
        <hr class="mt-4 mb-4">
        <div class="media">
          <%= image_tag "https://3.bp.blogspot.com/-1r04zDRBuVI/W2vLuPXlObI/AAAAAAAAPfs/zF7WoUxzDA0AA_SPybBbMjk_g2vKjqQYwCLcBGAs/s400/image001GY4B.jpg"%>
          <div class="media-body ml-md-3">
            <div class="row">
              <div class="col-1">
                <%= image_tag "downloads.jpg", class: "news-small-img" %>
              </div>  
              <div class="col text-muted">
                <small class="media-para"><i class="fa fa-calendar"></i><abbr class="published ml-2" itemprop="datePublished" title="2018-08-11T10:46:00+05:30"><i>August 11, 2018</i></abbr></small>
              </div>  
            </div>  
            <h2 class="post-title">
              <a href="https://hindicurrentaffairs.adda247.com/2018/08/defence-industrial-corridor-launched-in.html">
              यूपी के अलीगढ़ में रक्षा औद्योगिक कॉरिडोर लॉन्च किया गया
              </a>
            </h2>
            <small class="text-muted">
            रक्षा मंत्री निर्मला सीतारमण और उत्तर प्रदेश के मुख्यमंत्री योगी आदित्यनाथ ने उत्तर प्रदेश के अलीगढ़ में एक रक्षा औद्योगिक कॉरिडोर शुरू किया. यह कदम राज्य में रक्षा निर्माण को समर्पित विशेष क्षेत्रों को विकसित करने के सरकार के प्रयासों का हिस्सा है.</small>
            <div class="mt-3">
              <%= link_to "#", class: "read-more-btn pt-2 pb-2 pl-3 pr-3" do %>Read more
                <i class="fa fa-angle-double-right ml-2"></i>
              <% end %>
            </div>  
          </div>
        </div>
        <hr class="mt-4 mb-4">
        <div class="media">
          <%= image_tag "https://3.bp.blogspot.com/-1r04zDRBuVI/W2vLuPXlObI/AAAAAAAAPfs/zF7WoUxzDA0AA_SPybBbMjk_g2vKjqQYwCLcBGAs/s400/image001GY4B.jpg"%>
          <div class="media-body ml-md-3">
            <div class="row">
              <div class="col-1">
                <%= image_tag "downloads.jpg", class: "news-small-img" %>
              </div>  
              <div class="col text-muted">
                <small class="media-para"><i class="fa fa-calendar"></i><abbr class="published ml-2" itemprop="datePublished" title="2018-08-11T10:46:00+05:30"><i>August 11, 2018</i></abbr></small>
              </div>  
            </div>  
            <h2 class="post-title">
              <a href="https://hindicurrentaffairs.adda247.com/2018/08/defence-industrial-corridor-launched-in.html">
              यूपी के अलीगढ़ में रक्षा औद्योगिक कॉरिडोर लॉन्च किया गया
              </a>
            </h2>
            <small class="text-muted">
            रक्षा मंत्री निर्मला सीतारमण और उत्तर प्रदेश के मुख्यमंत्री योगी आदित्यनाथ ने उत्तर प्रदेश के अलीगढ़ में एक रक्षा औद्योगिक कॉरिडोर शुरू किया. यह कदम राज्य में रक्षा निर्माण को समर्पित विशेष क्षेत्रों को विकसित करने के सरकार के प्रयासों का हिस्सा है.</small>
            <div class="mt-3">
              <%= link_to "#", class: "read-more-btn pt-2 pb-2 pl-3 pr-3" do %>Read more
                <i class="fa fa-angle-double-right ml-2"></i>
              <% end %>
            </div>  
          </div>
        </div>
      </div><!-- /.blog-main -->
      <aside class="col-lg-4 col-md-12 blog-sidebar mt-md-4 mt-4">
        <div>
          <div class="card rounded-0 p-0 p-md-3">
            <div class="card-body p-md-0 p-3">
              <div class="d-flex justify-content-between">
                <div class="pb-0 pt-4 pt-md-0 pb-md-0 pl-2 pr-2"><p class="font-arial font-weight-bold sm-para">MONTHLY CURRENT AFFAIRS</p></div>
                <div class="pb-0 pt-4 pt-md-0 pb-md-0 pl-2 pr-2"><i class="fa fa-calendar  text-muted"></i></div>
              </div>
              <hr class="mt-0 ml-md-0 mr-md-0  ">
              <ol class="list-unstyled mb-0">
                <li class="archivedate">
                  <a href="#">August 2018</a> (109)
                </li>
                <li class="archivedate">
                  <a href="#">July 2018</a> (316)
                </li>
                <li class="archivedate">
                  <a href="#">June 2018</a> (278)
                </li>
                <li class="archivedate">
                  <a href="#">May 2018</a> (322)
                </li>
                <li class="archivedate">
                  <a href="#">April 2018</a> (322)
                </li>
                <li class="archivedate">
                  <a href="#">March 2018</a> (333)
                </li>
                <li class="archivedate">
                  <a href="#">February 2018</a> (272)
                </li>
                <li class="archivedate">
                  <a href="#">January 2018</a> (278)
                </li>
                <li class="archivedate">
                  <a href="">December 2017</a> (342)
                </li>
                <li class="archivedate">
                  <a href="">November 2017</a> (351)
                </li>
                <li class="archivedate">
                  <a href="">October 2017</a> (343)
                </li>
                <li class="archivedate">
                  <a href="">September 2017</a> (320)
                </li>
                <li class="archivedate">
                  <a href="">August 2017</a> (401)
                </li>
                <li class="archivedate">
                  <a href="">July 2017</a> (303)
                </li>
                <li class="archivedate">
                  <a href="">June 2017</a> (297)
                </li>
                <li class="archivedate">
                  <a href="">May 2017</a> (299)
                </li>
                <li class="archivedate">
                  <a href="">April 2017</a> (300)
                </li>
                <li class="archivedate">
                  <a href="">March 2017</a> (421)
                </li>
                <li class="archivedate">
                  <a href="">February 2017</a> (405)
                </li>
                <li class="archivedate">
                  <a href="">January 2017</a> (427)
                </li>
                <li class="archivedate">
                  <a href="">December 2016</a> (379)
                </li>
                <li class="archivedate">
                  <a href="">November 2016</a> (326)
                </li>
                <li class="archivedate">
                  <a href="">October 2016</a> (338)
                </li>
                <li class="archivedate">
                  <a href="">September 2016</a> (284)
                </li>
                <li class="archivedate">
                  <a href="">August 2016</a> (91)
                </li>
              </ol>
            </div>  
          </div>  
        </div>
        <div>
          <div class="card rounded-0 p-0 p-md-3 mt-md-4 mt-4">
            <div class="card-body p-md-0 p-3">
              <div class="d-flex justify-content-between">
                <div class="pb-0 pt-4 pt-md-0 pb-md-0 pl-2 pr-2"><p class="font-arial font-weight-bold sm-para">RECENT POSTS</p></div>
                <div class="pb-0 pt-4 pt-md-0 pb-md-0 pl-2 pr-2"><i class="fa fa-ellipsis-v  text-muted"></i></div>
              </div>
              <hr class="mt-0 ml-md-0 mr-md-0  ">
              <a href="#" class="media-link">
                <div class="media">
                  <img class="mr-3 post-img" src="https://1.bp.blogspot.com/-fChIoubxBLg/W3ET1_qBiFI/AAAAAAAAPlY/tg7QbFd5-GkKVzBAYjcfBxBqfz8iG83qACLcBGAs/s400/Visualization-Image-657-X-425-21122016.jpg" alt="Generic placeholder image">
                  <div class="media-body ml-0">
                    <div class="recent-title">भारत <font class="font-weight-bold">3 </font>जनवरी, <font class="font-weight-bold">2019 </font>को दूसरा चंद्र मिशन 'चंद्रयान <font class="font-weight-bold">-2' </font>करेगा लॉन्च</div>
                    <span class="text-muted"><small>August 13, 2018</small></span>
                  </div>
                </div>
              </a>
              <a href="#" class="media-link">
                <div class="media mt-md-3">
                  <img class="mr-3 post-img" src="https://4.bp.blogspot.com/-4KBUoWAtpRs/W3ENMtniItI/AAAAAAAAPlM/RI1LgNNfG1sFB8IX5L_X8NFu3alh1IdMgCLcBGAs/s400/India-Nepal%2BLitfest.jpg" alt="Generic placeholder image">
                  <div class="media-body ml-0">
                    <div class="recent-title">भारत <font class="font-weight-bold">3 </font>जनवरी, <font class="font-weight-bold">2019 </font>को दूसरा चंद्र मिशन 'चंद्रयान <font class="font-weight-bold">-2' </font>करेगा लॉन्च</div>
                    <span class="text-muted"><small>August 13, 2018</small></span>
                  </div>
                </div>
              </a>  
              <a href="#" class="media-link">
                <div class="media mt-md-3">
                  <img class="mr-3 post-img" src="https://4.bp.blogspot.com/-oWrq8PQ6iyk/W3EIGeFGw0I/AAAAAAAAPlA/T28VVlOysaIQzJCtrUWD1-gqRaTaJNENgCLcBGAs/s400/somnath-chatterjee.jpg" alt="Generic placeholder image">
                  <div class="media-body ml-0">
                    <div class="recent-title">भारत <font class="font-weight-bold">3 </font>जनवरी, <font class="font-weight-bold">2019 </font>को दूसरा चंद्र मिशन 'चंद्रयान <font class="font-weight-bold">-2' </font>करेगा लॉन्च</div>
                    <span class="text-muted"><small>August 13, 2018</small></span>
                  </div>
                </div>
              </a>
              <a href="" class="media-link">
                <div class="media mt-md-3">
                  <img class="mr-3 post-img" src="https://4.bp.blogspot.com/-RBbxVIv0_Pg/W3EXIRf-v_I/AAAAAAAAPlk/1XZCyxwe2N0WJdGLRId8h77iAmuVbx-OwCLcBGAs/s400/moon-800x509.jpg" alt="Generic placeholder image">
                  <div class="media-body ml-0">
                    <div class="recent-title">भारत <font class="font-weight-bold">3 </font>जनवरी, <font class="font-weight-bold">2019 </font>को दूसरा चंद्र मिशन 'चंद्रयान <font class="font-weight-bold">-2' </font>करेगा लॉन्च</div>
                    <span class="text-muted"><small>August 13, 2018</small></span>
                  </div>
                </div>
              </a>  
            </div>  
          </div>  
        </div>
      </aside><!-- /.blog-sidebar -->
    </div><!-- /.row -->
  </main><!-- /.container -->
  <hr class="mt-5">
  <div class="footer pt-2 pb-2">
    <div class="copy-right text-center">
      <p>
        All Rights Reserved by 
        <a href="#">
          Kautilya Academy 2018 
        </a>
      </p>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function() {
    $("#owl-demo").owlCarousel({
      autoPlay: 1500, //Set AutoPlay to 3 seconds
      slideBy: 4,
      items : 4,
      autoplay:true,
      autoplayTimeout:5000,
      autoplayHoverPause:false         
    }); 
  });
   $(document).ready(function() {
    $("#owl-demo1").owlCarousel({
      autoPlay: 1500, //Set AutoPlay to 3 seconds
      slideBy: 1,
      items : 1,
      autoplay:true,
      autoplayTimeout:5000,
      autoplayHoverPause:false         
    }); 
  });
</script>    