
<main role="main" class="container mt-5">
  <div class="row">
    <div class="col-lg-8 col-md-12 blog-main pl-lg-0">
      <!-- Month wise grouped messages -->
      <% @news.each do |news|%>   
      <div class="media">
        <% if news.image.present? %>
        <%= link_to news_path(news), class: "media-para"  do %>
        <%= image_tag news.image %>
        <%end%>  
        <% else %>
        <%= link_to news_path(news), class: "media-para"  do %>
        <%= image_tag "dummy.jpg" %>  
        <%end%>    
        <% end %>
        <div class="media-body ml-md-3 mt-2 mt-lg-0">
          <div class="row">
            <div class="col text-muted">
              <%= link_to news_path(news), class: "media-para"  do %><small><i class="fa fa-calendar"></i><abbr class="published ml-2" itemprop="datePublished"><i><%= news.created_at.strftime("%b %d %Y") %></i> <i class="fa fa-hashtag ml-3 mr-1"></i>
              <% end %>
              <%= link_to category_path(news.category), class: "text-dark" do %>
              <%= news.category.name%>
              <% end %>
            </abbr></small>
          </div>  
        </div>  
        <h2 class="post-title">
          <%= link_to news_path(news)  do %>
          <%= news.title %>
          <% end %>
        </h2>
        <small class="text-muted media-body-para">
          <%= link_to news_path(news)  do %>
          <%= raw news.description.truncate(300)%>
          <% end %>
        </small>
        <div class="mt-3">
          <%= link_to news_path(news) , class: "read-more-btn pt-2 pb-2 pl-3 pr-3" do %>Read more
          <i class="fa fa-angle-double-right ml-2"></i>
          <% end %>
        </div>  
      </div>
    </div>
    <hr class="mt-4 mb-4">
    <% end %>
    
    <%= paginate @news_paginate %>
  </div><!-- /.blog-main -->
  <aside class="col-lg-4 col-md-12 category-sidebar-sidebar mt-md-2 mt-4 pr-lg-0 ">
    <div>
      <div class="card rounded-0 p-0 p-md-3">
        <div class="card-body p-md-0 p-3 pr-0">
          <div class="d-flex justify-content-between">
            <div class="pb-0 pt-4 pt-md-0 pb-md-0 pl-2 pr-2"><p class="font-arial font-weight-bold sm-para">MONTHLY CURRENT AFFAIRS</p></div>
            <div class="pb-0 pt-4 pt-md-0 pb-md-0 pl-2 pr-2"><i class="fa fa-calendar  text-muted"></i></div>
          </div>
          <hr class="mt-0 ml-md-0 mr-md-0 ">
          <ol class="list-unstyled mb-0">
            <% @news_by_month.each do |m,p| %>
            <li class="archivedate">
              <%= link_to m, news_by_month_path(:month => m)%>
              (<%= p  %>)
            </li>
            <% end %>
          </ol>  
        </div>  
      </div>  
    </div>
    <div class="card rounded-0 p-0 p-md-3 mt-md-4 mt-4">
      <div class="card-body p-md-0 P-0">
        <div class="d-flex justify-content-between">
          <div class="pb-0 pt-0 pt-md-0 pb-md-0 pl-2 pr-2"><p class="font-arial font-weight-bold sm-para">ADVERTISMENT</p></div>
        </div> 
        <hr class="mt-0 ml-md-0 mr-md-0">
        <h6>Coming Soon...</h6>
      </div>  
    </div> 
    <div>
      <div class="card rounded-0 p-0 p-md-3 mt-md-4 mt-4">
        <div class="card-body p-md-0 p-3">
          <div class="d-flex  justify-content-between">
            <div class="pb-0 pt-4 pt-md-0 pb-md-0 pl-2 pr-2"><p class="font-arial font-weight-bold sm-para">RECENT POSTS</p></div>
            <div class="pb-0 pt-4 pt-md-0 pb-md-0 pl-2 pr-2"><i class="fa fa-ellipsis-v  text-muted"></i></div>
          </div>
          <hr class="mt-0 ml-md-0 mr-md-0">
          <% @news.order("created_at DESC").first(4).each do |news|%>  
          <a href="#"><%= link_to news_path(news), class: "media-link" do%>
            <div class="post-media">
              <div class="media mt-3">
                <% if news.image.present? %>
                <%= image_tag news.image, class: "mr-3 post-img" %>
                <% else %>
                <%= image_tag "dummy.jpg", class: "mr-3 post-img" %>  
                <% end %>
                <div class="media-body ml-0">
                  <div class="recent-title"><%= news.title%></div>
                  <span class="text-muted"><small><%= news.created_at.strftime("%b %d %Y")%></small></span>
                </div>
              </div>
            </div>  
            <% end %>
            <% end %>  
          </div>  
        </div> 
      </div>
    </aside><!-- /.blog-sidebar -->
  </div><!-- /.row -->
</main><!-- /.container -->



<script type="text/javascript"> 
  // window.history.pushState('', null, './');
  // $(window).on('popstate', function() {
  //  location.reload(true);
  // });
</script> 
