
<% content_for :head do %>
  <meta property="og:title" content="<%= "#{@news.title}" %>">
  <% if @news.image.present? %>
    <meta property="og:image" content="<%= "#{@news.image_url}" %>">
  <% else %>
    <meta property="og:image" content="<%= image_url('dummy.jpg') %>">
  <% end %>
  <meta property="og:description" content="<%= "#{@news.description.html_safe}" %>">
  <meta property="og:type" content="article">
<% end %>
<header class="blog-header mt-lg-0 mt-md-3">
  <div class="row flex-lg-nowrap d-md-flex flex-md-wrap justify-content-lg-between justify-content-md-center align-items-center no-gutters">
    <div class="col-lg-4 col-12 pt-1  mt-2 mb-4 text-lg-left text-md-center text-center">
      <a class="navbar-logo ml-lg-5" href="/"><%= image_tag "logo.png" %></a>
    </div>
    <div class="ml-auto d-lg-block d-md-none d-none">
      <form class="form-inline form-search" action="#">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</header>
<nav class="navbar my-nav navbar-expand-lg pl-md-4 pr-md-0 pt-md-3 pb-md-3  mt-md-5 mt-3">
  <button class="navbar-toggler ml-lg-auto sticky-top" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation">
    <span class="fa fa-bars text-white"></span>
  </button>
  <div class="ml-auto d-lg-none d-md-block d-none buttons">
    <div class="mt-3">
      <% if user_signed_in? %>
       <%= link_to "Sign-out",destroy_user_session_path, method: :get, class: "demo-icon sign-out-btn font-weight-bold" %>
      <% else %>
        <%= link_to "Login / Register",  new_user_session_path , class: "font-weight-bold mr-5 demo-icon signin-btn" %>
      <% end %>  
    </div>  
  </div> 
  <div class="collapse navbar-collapse flex-md-column  sticky-md-top" id="navbarSupportedContent1">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item  active">
       <a class=" font-weight-bold" href="/">Home</a>
      </li>
      <% @categories.each do |category| %>
        <li class="nav-item2">
          <%= link_to category_path(category) do %>
            <%= category.name %>
          <% end %> 
        </li>
      <% end %>
      <% if user_signed_in? %>
        <li class="nav-item2 d-lg-none d-sm-none d-block">
          <%= link_to "Sign-out",destroy_user_session_path, method: :get %>
        </li>  
      <% else %>
        <li class="nav-item2 d-lg-none d-sm-none d-block">
          <%= link_to "Login / Register",  new_user_session_path  %>
        </li>  
      <% end %> 
    </ul>
    <div class="ml-auto d-lg-block d-md-none d-none buttons">
      <div class="mt-0  ">
        <% if user_signed_in? %>
         <%= link_to "Sign-out",destroy_user_session_path, method: :get, class: "demo-icon sign-out-btn font-weight-bold" %>
        <% else %>
          <%= link_to "Login / Register",  new_user_session_path , class: "font-weight-bold mr-5 demo-icon signin-btn" %>
        <% end %>  
      </div>  
    </div> 
  </div>
</nav>
<main role="main" class="container">
  <div class="row">
    <div class="col-lg-8 col-md-12 blog-main">
      <div class="card mt-4">
        <div class="card-body">
          <h3 class="post-title">
            <%= @news.title %>
          </h3> 
          <small class="text-muted media-para ">
            <abbr class="published" itemprop="datePublished" title="2018-08-11T10:46:00+05:30"><i><%= @news.created_at.strftime("%d %b %Y") %></i> 
          </small>
          <div class="show-img text-center mt-4">
            <% if @news.image.present? %>
              <%= image_tag @news.image %>
            <% else %>
              <%= image_tag "dummy.jpg" %>  
            <% end %>
          </div>
          <div class="show-description-text mt-4">
            <%= @news.description.html_safe%>
          </div>
          <div class="find-text mt-5 text-center">
            <p>Find More News Related to 
              <font class="font-weight-bold">
               <%= link_to category_path(@news.category), class: "text-dark" do%>
                 <%= @news.category.name%>
               <% end %>  
              </font>
            </p>
          </div>
        </div>  
      </div>
      <div class="card mt-0 rounded-0">
        <div class="card-body p-3">
          <a href=""><i class="fa fa-hashtag ml-3 mr-1"></i></a><span class="badge ml-2  share-badge rounded-0"><%= @news.category.name%></span>
          <div class="share-post text-right">
            <span>
            <i aria-hidden="true" class="fa fa-share-square-o mr-2"></i>
            </span>
            <a class="share-facebook-p" href="http://www.facebook.com/sharer.php?u=https://kautilya-app.herokuapp.com/news/<%= @news.id %> |<%= @news.title%>" class="fb-xfbml-parse-ignore" rel="nofollow" target="_blank">
            <i class="fa fa-facebook text-muted mr-2"></i>
           
            </a>
            <a class="share-twitter-p" href="http://twitter.com/share?url=https://hindicurrentaffairs.adda247.com/2018/09/bi-annual-talks-between-indian-and.html" rel="nofollow" target="_blank">
            <i class="fa fa-twitter text-muted mr-2"></i>
            </a>
            <a class="share-gplus-p" href="https://plus.google.com/share?url=https://hindicurrentaffairs.adda247.com/2018/09/bi-annual-talks-between-indian-and.html" rel="nofollow" target="_blank">
            <i class="fa fa-google-plus text-muted mr-2"></i>
            </a>
            <a class="share-linkedin-p" href="http://www.linkedin.com/cws/share?url=https://hindicurrentaffairs.adda247.com/2018/09/bi-annual-talks-between-indian-and.html" rel="nofollow" target="_blank">
            <i class="fa fa-linkedin text-muted mr-2"></i>
            </a>
          </div>
        </div>  
      </div>
      <div class="card mt-4">
        <div class="card-body">
          <div class="heading border-bottom pb-0">
            <span class="post-footer-icon text-right">
            <i aria-hidden="true" class="fa fa-rss"></i>
            </span>
            <span class="post-footer-title pb-2 font-weight-bold text-uppercase">
              You Might Also Like
            </span>
          </div>
          <div class="card-deck mt-4">
            <% @news_count.shuffle.last(3).each do |news|%>    
              <div class="card border-0">
                <% if news.image.present? %>
                  <%= link_to news_path(news) do %>
                    <%= image_tag news.image, class: "show-card-image"%>
                  <% end %>  
                <% else %>
                  <%= link_to news_path(news) do %>
                    <%= image_tag "dummy.jpg", class: "show-card-image" %>
                  <% end %>  
                <% end %>
                <div class="card-body p-0">
                  <div class=" mt-2">
                    <%= link_to category_path(news.category),  class: "favourite-category" do %>
                      <%= news.category.name %>
                    <% end %>  
                  </div>
                  <p class="card-text font-weight-bold card-link-text">
                    <%= link_to news_path(news) do %>
                      <%= truncate(news.title, length: 50)%></p>
                    <% end %>  
                </div>
              </div>
            <%end%>
          </div>
        </div>  
      </div>
      <div class="card mt-4">
        <div class="card-body p-0">
          <ul class="post-pager">
            <div class="row">
              <div class="col-md-6 mt-3 col-12"> 
                <% if  @news.previous.present? %>
                  <li class="previous mt-lg-0 mt-3 list-unstyled">
                    <a class="newer-link" href="" id="Blog1_blog-pager-newer-link" rel="next"> <strong><i class="fa fa-angle-left mr-2"></i><%= link_to("Previous Post", @news.previous) if @news.previous %></strong><br><div class="post-pager-title"><span>
                      <%= @news.previous.try(:title)%>
                    </span></div></a>
                  </li>
                <% end %>  
              </div>  
              <div class="col-md-6 col-12">
                <% if  @news.next.present? %>
                  <li class="next mt-lg-3 mt-4  list-unstyled">
                    <a class="older-link" href="" id="Blog1_blog-pager-older-link" rel="previous"><strong><%= link_to("Next Post", @news.next) if @news.next %><i class="fa fa-angle-right ml-2"></i></strong><br><div class="post-pager-title"><span>
                     <%= @news.next.try(:title) %>
                    </span></div></a>
                  </li>
                <% end %>  
              </div>
            </div>    
          </ul> 
        </div>  
      </div> 
    </div><!-- /.blog-main -->
    <aside class="col-lg-4 col-md-12 blog-sidebar mt-md-4 mt-4">
      <div>
        <div class="card rounded-0 p-0 p-md-3 ml-0">
          <div class="card-body p-md-0 p-3">
            <div class="d-flex justify-content-between">
              <div class="pb-0 pt-4 pt-md-0 pb-md-0 pl-2 pr-2"><p class="font-arial font-weight-bold sm-para">MONTHLY CURRENT AFFAIRS</p></div>
              <div class="pb-0 pt-4 pt-md-0 pb-md-0 pl-2 pr-2"><i class="fa fa-calendar  text-muted"></i></div>
            </div>
            <hr class="mt-0 ml-md-0 mr-md-0  ">
            <ol class="list-unstyled mb-0">
              <% @news_by_month.each do |m,p| %>
                <li class="archivedate">
                  <%= link_to m, news_by_month_path(:month => m)%>
                  (<%= p  %>)
                </li>
              <% end %>
            </ol>  
          </div>  
        </div>  
      </div>
      <div class="card rounded-0 p-0 p-md-3 mt-md-4 mt-4">
        <div class="card-body p-md-0 P-0">
          <div class="d-flex justify-content-between">
            <div class="pb-0 pt-0 pt-md-0 pb-md-0 pl-2 pr-2"><p class="font-arial font-weight-bold sm-para">ADVERTISMENT</p></div>
          </div> 
          <hr class="mt-0 ml-md-0 mr-md-0">
          <h6>Coming Soon...</h6>
        </div>  
      </div> 
      <div>
        <div class="card rounded-0 p-0 p-md-3 mt-md-4 mt-4">
          <div class="card-body p-md-0 p-3">
            <div class="d-flex justify-content-between">
              <div class="pb-0 pt-4 pt-md-0 pb-md-0 pl-2 pr-2"><p class="font-arial font-weight-bold sm-para">RECENT POSTS</p></div>
              <div class="pb-0 pt-4 pt-md-0 pb-md-0 pl-2 pr-2"><i class="fa fa-ellipsis-v  text-muted"></i></div>
            </div>
            <hr class="mt-0 ml-md-0 mr-md-0">
            <% @news_count.order("created_at DESC").first(4).each do |news|%>  
              <a href="#"><%= link_to news_path(news), class: "media-link" do%>
                <div class="media mt-3">
                  <% if news.image.present? %>
                    <%= image_tag news.image, class: "mr-3 post-img" %>
                  <% else %>
                    <%= image_tag "dummy.jpg", class: "mr-3 post-img" %>  
                  <% end %>
                  <div class="media-body ml-0">
                    <div class="recent-title"><%= news.title%></div>
                    <span class="text-muted"><small><%= news.created_at.strftime("%b %d %Y")%></small></span>
                  </div>
                </div>
              <% end %>
            <% end %>  
          </div>  
        </div> 
      </div>
    </aside><!-- /.blog-sidebar -->
  </div><!-- /.row -->
</main><!-- /.container -->



