<header class="blog-header mt-lg-0 mt-md-3">
  <div class="row
   flex-lg-nowrap d-md-flex flex-md-wrap justify-content-lg-between justify-content-md-center align-items-center no-gutters">
    <div class="col-lg-4 col-12 pt-1  mt-2 mb-4 text-lg-left text-md-center text-center">
      <a class="navbar-logo ml-lg-5" href="/"><%= image_tag "logo.png" %></a>
    </div>
    <div class="ml-auto d-lg-block d-md-none d-none mt-3">
      <form class="form-inline form-search" action="#">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</header>
<nav class="navbar my-nav navbar-expand-lg mt-md-5 mt-5 p-lg-0 p-md-2">
  <div  class=" ml-lg-4 navbar-toggler sticky-top" data-toggle="collapse" data-target="#demo"><span class="fa fa-bars text-white"></span>
  </div>
  <div class="ml-auto d-lg-none d-md-block d-block buttons">
    <div class="mt-2">
      <% if user_signed_in? %>
       <%= link_to "Sign-out",destroy_user_session_path, method: :get, class: "demo-icon sign-out-btn font-weight-bold" %>
      <% else %>
        <%= link_to "Login / Register",  new_user_session_path , class: "font-weight-bold demo-icon signin-btn" %>
      <% end %>  
    </div>  
  </div> 
  <div class="collapse navbar-collapse" id="navbarSupportedContent1">
    <nav class="navbar navbar-inverse wide-menu p-0">
      <div class="container p-0">
        <div class="collapse navbar-collapse" id="secundary-nav">
          <ul class="nav navbar-nav navbar-left">
            <!-- <a href="/" class="active dropdown main-menu-active pl-4 pr-4 pt-3 text-white"><i class="fa fa-home"></i></a> -->
            <%= nav_link "Home",(root_path)  %>
            <% @categories.each do |category| %>
              <%= nav_link "#{category.name}", category_path(category) %>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <div class="ml-auto d-lg-block d-md-none d-none buttons">
      <div class="mt-4">
        <% if user_signed_in? %>
         <%= link_to "Sign-out",destroy_user_session_path, method: :get, class: "demo-icon sign-out-btn font-weight-bold" %>
        <% else %>
          <%= link_to "Login / Register",  new_user_session_path , class: "font-weight-bold mr-5 demo-icon signin-btn" %>
        <% end %>  
      </div>  
    </div> 
  </div>
</nav>
<div id="demo" class="collapse">
  <ul class="nav navbar-nav">
    <li class="active dropdown main-menu-active">
      <a href="/"><i class="fa fa-home"></i> </a>
    </li>
    <% @categories.each do |category| %>
      <li class="dropdown main-menu-active">
        <%= link_to category_path(category) do %>
          <%= category.name %>
        <% end %> 
      </li>
    <% end %>
  </ul>
</div>

<div class="show-container mt-4">
  <div class="centered text-white d-sm-block d-none"><h4>Showing Posts With Label <%= @category.name%>. <a href="/"><u>Show  All Posts</u></a></h4></div>
  <div class="centered text-white d-sm-none d-block"><h5>Showing Posts With Label <%= @category.name%>. <a href="/"><u>Show  All Posts</u></a></h5></div>
</div>
<main role="main" class="container mt-4">
  <div class="row">
    <div class="col-lg-8 col-md-12 blog-main pl-lg-0">
      <% @category.news.order("created_at DESC").each do |news|%>   
        <div class="media">
           <% if news.image.present? %>
            <%= image_tag news.image %>
          <% else %>
            <%= image_tag "dummy.jpg" %>  
          <% end %>
          <div class="media-body ml-md-3">
            <div class="row">
              <div class="col text-muted">
                <%= link_to news_path(news), class: "media-para"  do %><small><i class="fa fa-calendar"></i><abbr class="published ml-2" itemprop="datePublished"><i>
                <% end %>
                <%= news.created_at.strftime("%b %d %Y") %></i> <i class="fa fa-hashtag ml-3 mr-1"></i>
                <%= link_to category_path(news.category), class: "media-para"  do %><%= news.category.name%></abbr></small>
                <% end %> 
              </div>  
            </div>  
            <h2 class="post-title">
              <%= link_to news_path(news)  do %>
                <%= news.title %>
               <% end %>
            </h2>
            <small class="text-muted media-body-para">
              <%= link_to news_path(news)  do %>
                <%= raw news.description.truncate(300)%>
              <% end %>
            </small>
            <div class="mt-3">
              <%= link_to news_path(news) , class: "read-more-btn pt-2 pb-2 pl-3 pr-3" do %>Read more
                <i class="fa fa-angle-double-right ml-2"></i>
              <% end %>
            </div>  
          </div>
        </div>
        <hr class="mt-4 mb-4">
      <% end %>
      <div class="text-center home-link">
        <%= link_to "Home", root_path %>
      </div> 
      <% if @news.present? %>
        <%= paginate @news_pag %>
      <% end %>  
    </div><!-- /.blog-main -->
    <aside class="col-lg-4 col-md-12 category-sidbar mt-md-2 mt-4 pr-lg-0">
      <div>
        <div class="card rounded-0 p-0 p-md-3 ml-0">
          <div class="card-body p-md-0 p-3">
            <div class="d-flex justify-content-between">
              <div class="pb-0 pt-4 pt-md-0 pb-md-0 pl-2 pr-2"><p class="font-arial font-weight-bold sm-para">MONTHLY CURRENT AFFAIRS</p></div>
              <div class="pb-0 pt-4 pt-md-0 pb-md-0 pl-2 pr-2"><i class="fa fa-calendar  text-muted"></i></div>
            </div>
            <hr class="mt-0 ml-md-0 mr-md-0 ">
            <ol class="list-unstyled mb-0">
              <% @news_by_month.each do |m,p| %>
                <li class="archivedate">
                  <%= link_to m, news_by_month_path(:month => m)%>
                  (<%= p  %>)
                </li>
              <% end %>
            </ol>  
          </div>  
        </div>  
      </div>
      <div class="card rounded-0 p-0 p-md-3 mt-md-4 mt-4">
        <div class="card-body p-md-0 P-0">
          <div class="d-flex justify-content-between">
            <div class="pb-0 pt-0 pt-md-0 pb-md-0 pl-2 pr-2"><p class="font-arial font-weight-bold sm-para">ADVERTISMENT</p></div>
          </div> 
          <hr class="mt-0 ml-md-0 mr-md-0">
          <h6>Coming Soon...</h6>
        </div>  
      </div> 
      <div>
        <div class="card rounded-0 p-0 p-md-3 mt-md-4 mt-4">
          <div class="card-body p-md-0 p-3">
            <div class="d-flex justify-content-between">
              <div class="pb-0 pt-4 pt-md-0 pb-md-0 pl-2 pr-2"><p class="font-arial font-weight-bold sm-para">RECENT POSTS</p></div>
              <div class="pb-0 pt-4 pt-md-0 pb-md-0 pl-2 pr-2"><i class="fa fa-ellipsis-v  text-muted"></i></div>
            </div>
            <hr class="mt-0 ml-md-0 mr-md-0">
            <% @category.news.order("created_at DESC").first(4).each do |news|%>  
              <a href="#"><%= link_to news_path(news), class: "media-link" do%>
                <div class="post-media">
                  <div class="media mt-3">
                    <% if news.image.present? %>
                      <%= image_tag news.image, class: "mr-3 post-img" %>
                    <% else %>
                      <%= image_tag "dummy.jpg", class: "mr-3 post-img" %>  
                    <% end %>
                    <div class="media-body ml-0">
                      <div class="recent-title"><%= news.title%></div>
                      <span class="text-muted"><small><%= news.created_at.strftime("%b %d %Y")%></small></span>
                    </div>
                  </div>
              </div>
              <% end %>
            <% end %>  
          </div>  
        </div>  
      </div>
    </aside><!-- /.blog-sidebar -->
  </div><!-- /.row -->
</main><!-- /.container -->

