<header class="blog-header mt-lg-0 mt-md-3">
  <div class="row
   flex-lg-nowrap d-md-flex flex-md-wrap justify-content-lg-between justify-content-md-center align-items-center no-gutters">
    <div class="col-lg-4 col-12 pt-1  mt-2 mb-4 text-lg-left text-md-center text-center">
      <a class="navbar-logo ml-lg-5" href="/"><%= image_tag "logo.png" %></a>
    </div>
    <div class="ml-auto d-lg-block d-md-none d-none mt-3">
      <form class="form-inline form-search" action="#">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</header>
<nav class="navbar my-nav navbar-expand-lg mt-md-5 mt-5 p-lg-0 p-md-2">
  <div  class=" ml-lg-4 navbar-toggler sticky-top" data-toggle="collapse" data-target="#demo"><span class="fa fa-bars text-white"></span>
  </div>
  <div class="ml-auto d-lg-none d-md-block d-block buttons">
    <div class="mt-2">
      <% if user_signed_in? %>
       <%= link_to "Sign-out",destroy_user_session_path, method: :get, class: "demo-icon sign-out-btn font-weight-bold" %>
      <% else %>
        <%= link_to "Login / Register",  new_user_session_path , class: "font-weight-bold demo-icon signin-btn" %>
      <% end %>  
    </div>  
  </div> 
  <div class="collapse navbar-collapse" id="navbarSupportedContent1">
    <nav class="navbar navbar-inverse wide-menu p-0">
      <div class="container p-0">
        <div class="collapse navbar-collapse" id="secundary-nav">
          <ul class="nav navbar-nav navbar-left">
            <!-- <a href="/" class="active dropdown main-menu-active pl-4 pr-4 pt-3 text-white"><i class="fa fa-home"></i></a> -->
            <%= nav_link "Home",(root_path)  %>
            <% @categories.each do |category| %>
              <%= nav_link "#{category.name}", category_path(category) %>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <div class="ml-auto d-lg-block d-md-none d-none buttons">
      <div class="mt-4">
        <% if user_signed_in? %>
         <%= link_to "Sign-out",destroy_user_session_path, method: :get, class: "demo-icon sign-out-btn font-weight-bold" %>
        <% else %>
          <%= link_to "Login / Register",  new_user_session_path , class: "font-weight-bold mr-5 demo-icon signin-btn" %>
        <% end %>  
      </div>  
    </div> 
  </div>
</nav>
<div id="demo" class="collapse">
  <ul class="nav navbar-nav">
    <li class="active dropdown main-menu-active">
      <a href="/"><i class="fa fa-home"></i> </a>
    </li>
    <% @categories.each do |category| %>
      <li class="dropdown main-menu-active">
        <%= link_to category_path(category) do %>
          <%= category.name %>
        <% end %> 
      </li>
    <% end %>
  </ul>
</div>
